[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/root/notion-to-presentation/cmd/saas/errors.log
StandardError  = append:/root/notion-to-presentation/cmd/saas/errors.log
WorkingDirectory  = /root/notion-to-presentation/cmd/saas
ExecStart      = /root/notion-to-presentation/cmd/saas/ntp-saas-linux serve

[Install]
WantedBy = multi-user.target