[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/root/ntp/errors.log
StandardError  = append:/root/ntp/errors.log
WorkingDirectory  = /root/ntp
ExecStart      = /root/ntp/ntp-saas-linux serve

[Install]
WantedBy = multi-user.target